@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "tailwindcss";
:root {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.cta {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid rgb(248, 87, 28);
  color: rgb(248, 87, 28);
  background: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cta:hover {
  background-color: rgb(248, 87, 28);
  color: white;
}

.background {
  height: 100dvh;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 500ms ease-in-out;
}
.hero {
  margin: 0px 100px;
  margin-top: 120px;
}

.hero-text {
  line-height: 80px;
  font-weight: 600;
}
.hero-explore {
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.hero-dot li {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 7.5px;
  cursor: pointer;
}

.hero-dot.orange {
  background-color: orangered;
}

.input-box {
  padding: 15px 10px;
  border: 1px solid white;
  outline: none;
  border-radius: 2px;
  width: 100%;
  background-color: #a7abf836;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 420px) {
  .about-div {
    margin-top: 230px;
  }
}

@media screen and (max-width: 570px) {
  .hero {
    margin: 0px 80px;
    margin-top: 70px;
  }

  .hero-text {
    line-height: 60px;
  }
  .hero-explore {
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 20px;
    margin-bottom: 100px;
  }

  .hero-dot {
    flex-direction: column;
  }
  .about-div-1 {
    flex-direction: column;
  }
  .tab-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .services-div {
    flex-direction: column;
  }

  .tabs-div {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .about-div {
    flex-direction: column;
  }

  .about-img-div {
    width: 100%;
  }
  .services-text {
    font-size: 25px;
  }

  .tab-div {
    min-width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .about-div-1 {
    flex-direction: column;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
